@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Material-Icons.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.flex {
  display: flex;
}

.column {
  flex: 1;
}

.fullWidth {
  width: 100%;
}

.layoutColumn {
  flex-direction: column;
}

.layoutRow {
  flex-direction: row;
}

.alginCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.spaceBetween {
  justify-content: space-between;
}
